.kontakt-wrapper {
  background-color: #f39415;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  color: #575757;
}

/* Inhalt bleibt oben auf Mobile */
.kontakt-inhalt {
  max-width: 300px;
  width: 100%;
  margin-top: 0;
}

/* Inhalt wird nach unten gedrückt – aber nur auf Desktop */
@media (min-width: 768px) {
  .kontakt-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .kontakt-inhalt {
    margin-top: auto;
  }
}

.mail {
    color: white;
}

/* .mail:hover{
    color: #575757;
} */

.kontakt-inhalt h2 {
    margin-top: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #575757;
}

.kontakt-inhalt h2 {
    margin-top: 4rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #575757;
}

.kontakt-block {
  border-top: 2px solid #575757;
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-size: 0.95rem;
  line-height: 1.6;
}

.kontakt-inhalt h3 {
  font-size: 0.95rem;
  font-weight: bold;
  border-top: 2px solid #575757;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.kontakt-footer {
  display: flex;
  gap: 1.5rem;
  font-size: 0.85rem;
}

.kontakt-footer a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.kontakt-footer a:hover {
  text-decoration: none;
  color: #575757;
}
