.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 14em;
  height: 100%;
  background: #575757;
  color: white;
  padding: 0; 
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;


  transform: scale(0) translate(-100%, -100%);
  transform-origin: top left;
  opacity: 0;


  transition: transform 0.9s ease-in-out, opacity 0.2s ease-in;
}

.navbar.open {
  transform: scale(1) translate(0, 0);
  opacity: 1;
}

.logo {
  width: 100px;
  margin: 2em auto;
  display: block;
}


.navbar nav {
  margin-top: 2.5rem;
  padding: 1em;
}

.navbar nav a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Bauhaus93', sans-serif;
  letter-spacing: 0.05em;
  font-size: 1.4em;
  margin: 0.4em 0;
  margin-left: 0.4em;
}

.navbar nav a.active {
  color: #f39415;
}

.burger-button {
  position: fixed;
  top: 1em;
  left: 1em;
  width: 2.5rem;
  height: 2.5rem;
  background: #575757;
  border: none;
  cursor: pointer;
  z-index: 1100;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.4em;
  box-sizing: border-box;
}

.burger-line {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 1px;
}



.close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* === FOOTER DER NAVBAR === */
.navbar-footer {
  margin-top: auto;
  padding: 0;
}

/* === KONTAKT-LINK AM ENDE === */
.kontakt-link {
  width: 100%;
  background-color: #f39415;
  color: #575757;
  padding: 1em;
  font-weight: bold;
  font-family: 'Bauhaus93', sans-serif;
  letter-spacing: 0.05em;
  font-size: 1.4em;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
}

.kontakt-link:hover{
  color: white;
}

/* === GITHUB ICON === */
.github-icon {
  display: block;
  width: 3em;
  margin: 1em auto;
  text-align: center;
}

.github-icon img {
  width: 100%;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
  transition: filter 0.2s ease;
}

.github-icon:hover img {
  filter: invert(56%) sepia(81%) saturate(563%) hue-rotate(4deg) brightness(104%) contrast(97%);
}
